.countrySelectionWrapper {
  margin: auto;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.selectInput {
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
